<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap desktop rescap">
  <Identity Name="CoinCraft"
            Publisher="CN=localhost"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>CoinCraft</DisplayName>
    <PublisherDisplayName>CoinCraft</PublisherDisplayName>
    <Logo>Assets/StoreLogo.png</Logo>
  </Properties>

  <Resources>
    <Resource Language="pt-BR" />
  </Resources>

  <Applications>
    <Application Id="CoinCraft"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="CoinCraft"
                          Description="Gerenciador financeiro CoinCraft"
                          Square150x150Logo="Assets/Square150x150Logo.png"
                          Square44x44Logo="Assets/Square44x44Logo.png"
                          BackgroundColor="transparent" />
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" />
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>